<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
<body>
    {% block body %}
    <main role="main" class="container mx-auto">
        <h1 class="mt-5"> {{ title }} </h1>
        <div class="container" >
            <div class="row">
            {% for s_svg in stroke_svgs %}
                <div class="col-lg-2 col-md-3 col-xs-6 ">
                    <div class="box">
                        <svg viewBox="0 0 1024 1024" preserveAspectRatio="none" >
                            <!-- tianzige guidelines -->
                            <svg class="tianzige">
                                <g transform="scale(1, 1)">
                                <line x1="0" y1="512" x2="1024" y2="512" stroke-dasharray="32 16"/>
                                <line x1="512" y1="0" x2="512" y2="1024" stroke-dasharray="32 16"/>
                                <line x1="0" y1="0" x2="1024" y2="1024" stroke-dasharray="32 16"/>
                                <line x1="0" y1="1024" x2="1024" y2="0" stroke-dasharray="32 16"/>
                                <rect x="-1" y="-1" width="1024" height="1024"/>
                                </g>
                            </svg>
                            <!-- strokes -->
                            <svg>
                                <g class="stroke-container" transform="scale(1, -1) translate(0, -900)">
                                    {{ s_svg|safe }}
                                </g>
                            </svg>
                        </svg>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
